<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>

		<typeAlias type="com.multi.camp.register.MemberDTO" alias="member"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/multi/camp/mapper/register.xml"/>

		<typeAlias type="com.multi.camp.board.BoardDTO" alias="board"/>
		<typeAlias type="com.multi.camp.board.BoardFileDTO" alias="boardfile"/>
		<typeAlias type="com.multi.camp.member.MemberDTO" alias="member"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/board.xml"/>
		<mapper resource="mapper/member.xml"/>

		<typeAlias type="com.multi.camp.camping.campingDTO" alias="campingList"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/multi/camp/mapper/campingList.xml"/>

		<typeAlias type="com.multi.camp.reservation.ReservationDTO" alias="reservation"/>
	</typeAliases>
	<mappers>
		<mapper resource = "com/multi/camp/mapper/reservation.xml"/>


	</mappers>
</configuration>