<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.multi.camp.reservation.ReservationDTO" alias="reservation"/>
		<typeAlias type="com.multi.camp.login.LoginDTO" alias="member"/>
		<typeAlias type="com.multi.camp.board.BoardDTO" alias="board"/>
		<typeAlias type="com.multi.camp.board.BoardFileDTO" alias="boardfile"/>
		<typeAlias type="com.multi.camp.camping.campingDTO" alias="campingList"/>
		<typeAlias type="com.multi.camp.product.productDTO" alias="product"/>
		<typeAlias type="com.multi.camp.product_Buy.product_BuyDTO" alias="product_Buy"/>	
		<typeAlias type="com.multi.camp.servicecenter.ServiceCenterDTO" alias="service"/>		
		<typeAlias type="com.multi.camp.servicecenter.ServiceFileDTO" alias="servicefile"/>		
		<typeAlias type="com.multi.camp.manager.GoCampingDTO" alias="gocamping"/>	
	</typeAliases>
	
	<mappers>
		<mapper resource="com/multi/camp/mapper/servicecenter.xml"/>
		<mapper resource="com/multi/camp/mapper/board.xml"/>
		<mapper resource="com/multi/camp/mapper/login.xml"/>
		<mapper resource="com/multi/camp/mapper/campingList.xml"/>
		<mapper resource="com/multi/camp/mapper/product.xml"/>
		<mapper resource="com/multi/camp/mapper/product_Buy.xml"/>
		<mapper resource ="com/multi/camp/mapper/reservation.xml"/>
		<mapper resource ="com/multi/camp/mapper/manager.xml"/>
	</mappers>
	
	<!-- <mappers>
		<mapper resource="com/multi/camp/mapper/servicecenter_mysql.xml"/>
		<mapper resource="com/multi/camp/mapper/board_mysql.xml"/>
		<mapper resource="com/multi/camp/mapper/login_mysql.xml"/>
		<mapper resource="com/multi/camp/mapper/campingList_mysql.xml"/>
		<mapper resource="com/multi/camp/mapper/product_mysql.xml"/>
		<mapper resource="com/multi/camp/mapper/product_Buy_mysql.xml"/>
		<mapper resource ="com/multi/camp/mapper/reservation_mysql.xml"/>
		<mapper resource ="com/multi/camp/mapper/manager_mysql.xml"/>
	</mappers> -->
	
</configuration>